bhtsne>=0.1.9
cython
dill>=0.3.4
easygui
ffmpeg-python
future
hdbscan>=0.8.26
ipython
joblib>=1.0.0
jupyter
matplotlib>=3.3.3
networkx>=2.5.1
numpy>=1.20
opencv-python>=4.5
openTSNE>=0.4.4
pandas>=1.2.0
protobuf>=3.13.0
psutil>=5.7.0
scikit-learn>=0.22.1
scipy>=1.6.0
seaborn>=0.11.0
setuptools>=52.0.0
streamlit>=0.81.1
tables
tqdm>=4.54.0
umap-learn>=0.4.6
watchdog
